@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  position: ;
}

.text {
  font-size: 42px;
  text-align: center;
  position: fixed;
  top: 50%;
  margin-top: -21px;
}